 .tour{
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
   color:white;
   margin-left: 4px;

 }
 .vk{
  background-color: rgb(30, 255, 0);
  width: 34px;
 
  border-radius: 50%;
  padding-left: 2px;
   font-family:roboto;
   font-weight: bold;
    
   color: red;


  
 }
  
 .vkg{
  background-color: rgb(30, 255, 0);
  padding: 20px;
 
  border-radius: 50%;
  padding-left: 12px;
   font-family:roboto;
   font-weight: bold;
    
   color: red;


  
 }
 .scroll-container{
  background-color:white;
  border-radius: ;
  overflow:hidden;
  
   
 }
 .scroll-sub-container{
  display: flex;
  white-space: nowrap;
   
  
 }

.content-container{
  display: flex;
  
   
   
}

.text-content {
  padding: 0 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: roboto;
  font-weight: 600;
  color:blue;
  
}
.scroll-sub-container{
  --marquee-speed:37s;
  --direction:scroll-left;
 
   
}

.scroll-sub-container>div{
  animation: linear infinite var(--direction) var(--marquee-speed);
   
}

@keyframes scroll-left{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }

}

@keyframes scroll-right{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }

}






